//general apearance

body {
    background-color: $brand-primary
}

img {
    display: block;
    main & {
        width: 100%;
        height: auto;
    }
}

main {
    width: 100%;
    height: 100%;
    background-color: $brand-primary;
    
    section {
        padding-bottom: 60px;
        
        &:not(:last-of-type) {
            @include dashed-line('bottom', 'white');
            margin-bottom: 60px;
        }
        
    }
}
