.product {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin-top: 50px;
        margin-bottom: 50px;;
        font-size: 40px;
        text-transform: uppercase;
        color: #fff;
    }
    
    &__form {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 100px;
        .quantity {
            display: flex;
            align-items: center;
            margin-left: 20px;
            span {
                font-family: $main-font-family;
                color: $secondary-body-font-color;
                font-size: 48px;
            }
        }
    }

    &__price {
        font-size: 40px;
        color: $brand-secondary;
        margin-bottom: 40px;
    }

    &__description {
        margin-bottom: 50px;
        margin-top: 40px;
    }

    .old {
        text-decoration: line-through;
        opacity: .3;
        margin-right: 50px;
    }
}