.twins {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ccc;
        height: 300px;
        width: 300px;
        border-radius: 150px;
        position: relative;
        color: #666;
    }
    .profile--image {
        position: absolute;
        top: 50px;
        left: 30px;
        height: 80px;
        width: 80px;
        border-radius: 40px;
        overflow: hidden;
        img {
            position: absolute;
            top: -30px;
            left: -80px;
        }
    }
    .profile--info {
        width: fit-content;
        position: relative;
        left: 30px;
        top: 20px;
        font-size: 16px;
        ul{
            width: fit-content;
        }
        li {
            &:last-child {
                margin-top: 10px;
            }
        }
    }

    .profile--name {
        color: #fff;
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .profile--nav {
        display: flex;
        justify-content: center;
        align-content: space-between;
        width: fit-content;
        margin: 0 auto;
        div {
            margin-right: 20px;
            width: 120px;
            &:last-child {
                margin-right: 0;
            }
        }
        a {
            color: #666;
            display: flex;
            justify-content: center;;
            flex-wrap: wrap;
            height: 100%;
            text-align: center;
        }
    }
    .nav--icon {
        display: block;
        height: 120px;
        width: 120px;
        border-radius: 60px;
        background-color: #ccc;
        align-self: flex-end;
        margin-top: 10px;
    }
}