//grid


$screen-small: 40em !default;
$screen-medium: 64em !default;
$screen-large: 1201px !default;

$media-small-up: 'screen and (min-width: #{$screen-small})' !default;
$media-small-only: 'screen and (max-width: #{$screen-small})' !default;

$media-medium-up: 'screen and (min-width: #{$screen-small})' !default;
$media-medium-only: 'screen and (min-width: #{$screen-small}) and (max-width: #{$screen-medium})' !default;
$media-medium-below: 'screen and (max-width: #{$screen-medium})' !default;

$media-large-up: 'screen and (min-width: #{$screen-large})' !default;
$media-large-only: 'screen and (max-width: #{$screen-large}) and (min-width: #{$screen-medium})' !default;
$media-large-below: 'screen and (max-width: #{$screen-large})' !default;