

@mixin transition($transition-time, $transition-easing) {
	transition: all $transition-time $transition-easing;
}
@mixin border-radius($radius) {
    border-radius: $radius;
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

$borderSources: (
	'white': url(../images/dash-white.png),
	'dark': url(../images/dash-dark.png),
	'yellow': url(../images/dash-yellow.png)
);

@mixin dashed-line($position, $color) {
	position: relative;
	@if $position == 'bottom' {
		&:after {
			content: '';
			display: block;
			position:absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background-image: map-get($borderSources, $color);
			background-repeat: repeat-x;
		}
	}
	@if $position == 'top' {
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background-image: map-get($borderSources, $color);
			background-repeat: repeat-x;
		}
	}
	
}
