
body { 
    font-family: $main-font-family;
    font-size: $base-font-size;
    font-style: normal;
    font-weight: 200;
    line-height: $base-line-height;
    letter-spacing: 0.1em;
    color: $primary-body-font-color;
}

h1,
h2,
h3,
h4 {
    font-family: $header-font-family;
    font-style: normal;
    font-weight: 500;
}

h1 {
    font-size: $section-header-font-size;
    line-height: $section-header-line-height;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.section--title {
    margin-bottom: 40px;
    text-align: center;
}
p {
    & + p {
        margin-top: 30px;
    }
}